.container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drag-sections {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.drop-zone {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 250px;
    border-radius: 10px;
    border: 2px dashed black;
    background: rgba(173,198,223,.5);
}

.drop-zone p {
    user-select: none;
    pointer-events: none;
}

#answer {
    width: 100%;
    padding: 15px;
}

#answer h4 {
    text-align: center;
}

.loader {
    opacity: 0;
    border: 9px solid #f3f3f3;
    border-top: 9px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}